@import '~app/variables/mixins.scss';

.thread {
  display: flex;
  padding: 10px;
  align-items: center;
  height: 52px;

  &--open {
    background-color: var(--primary-color)!important;
    border-radius: 20px;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--light-filled-secondary-text-color);
    border-radius: 20px;
    transition: all 0.1s ease;
  }
}

.thread__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 15px;
  height: 57px;
}

.thread__top-row {
  display: flex;
  justify-content: space-between;
}

.thread__name {
  font-size: 16px;
  line-height: 1.375rem;
  align-items: center;
  color: var(--primary-text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;

  @include tablet {
    font-size: 14px;
  }

  @include tablet-s {
    font-size: 14px;
  }
}

.thread__indicators {
  display: flex;
  align-items: center;
}

.thread__date {
  margin-left: 5px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  color: var(--secondary-text-color);

  &--open {
    color: var(--primary-text-color);
  }
}

.thread__status {
  color: var(--primary-color);
  font-size: 18px!important;

  &--open {
    color: var(--primary-text-color);
  }
}

.thread__bottom-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}

.thread__preview {
  display: block;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary-text-color);
  text-overflow: ellipsis;
  overflow: hidden;

  &--open {
    color: var(--primary-text-color);
  }

  @include tablet {
    font-size: 14px;
  }

  @include tablet-s {
    font-size: 14px;
  }
}

.thread__unread-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-new-message-color);
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 5px;
  height: 15px;
  min-width: 15px;
  font-weight: 700;
  font-size: 14px;
}

.thread__avatar {
  position: relative;
}

.thread__avatar--online {
  position: absolute;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  width: 8px;
  height: 8px;
  right: 0%;
  bottom: 0%;
}