.message {
  display: flex;
  position: relative;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
}

.message__contents {
  display: flex;
  flex-direction: column;
  // background-color: #7e6dd1;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  margin: 2px;
  margin-right: auto;
  max-width: 480px;
  word-break: break-word;
}

.message__contents--from {
  background-color: var(--message-out-background-color);
}

.message__contents--to {
  background-color: var(--message-background-color);
}

.message__content {
  color: var(--primary-text-color);
}

.message__from {
  margin-left: auto;
}

.message__to {
  margin-right: auto;
}

.message__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.message__timestamp {
  align-self: flex-end;
  color: var(--message-out-primary-color);
  font-size: 12px;
}

.message__status {
  font-size: 16px!important;
  margin-left: 2px;
  color: var(--message-out-primary-color);
}