@import '~app/variables/mixins.scss';

.sidebar {
  position: relative;
  background: var(--surface-color);
  display: flex;
  flex-direction: column;
  flex: .35;
  min-height: 100vh;
  border-right: var(--sidebar--border);
  height: 100vh;
}

.sidebar__new-msg {
  position: fixed!important;
  bottom: 2%;
  left: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: var(--primary-color)!important;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-hover)!important;
  }
}

.new-msg__icon {
  color: var(--button-new-message-color);
}

.search__group {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}