.sidebar {
  position: relative;
  background: #212121;
  display: flex;
  flex-direction: column;
  flex: .25;
  min-height: 100vh;
  border-right: 1px solid rgba(35, 35, 35, 1);
  height: 100vh;
}

.sidebar__new-msg {
  position: fixed!important;
  bottom: 2%;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #8774e1!important;
  cursor: pointer;

  &:hover {
    background-color: #6759ae!important;
  }
}

.new-msg__icon {
  color: #ffffff;
}

.search__group {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}