.chat__bubbles {
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}

.--scrollable {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.--scrollable::-webkit-scrollbar {
  width: 0;
  height: 0;
}