.login  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #212121;
  color: #ffffff;
  height: 100vh;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}

.login__button {
  justify-content: space-between!important;
  width: 40%!important;
  max-width: 340px;
  min-width: 265px!important;
  
  height: 50px;
  padding: 0!important;
  background: #8774e1!important;
  border-radius: 50px!important;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  transition: all ease-in-out 0.15s!important;

  &:hover {
    scale: 1.05;
    transition: all ease-in-out 0.15s;
  }
}

.img-section {
  display: flex;
  flex: .25;
  justify-content: center;
  align-items: center;
  background: #212121cb;
  border-radius: 50px;
  height: 110%;
}

.g-letter {
  width: 18px;
  height: 18px;
}

.btn-text {
  flex: 1;
  color: white;
}

.login__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  width: 100%;
}