.menu {
  position: absolute;
  left: 7%;
  top: 90%;
  width: 75%;
  background: transparent!important; 
  border-radius: 15px!important;
  
}

.menu__list {
  background-color: var(--surface-color-blur);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  color: #fff;
  transition: all ease 2s!important;
}

.menu__item {
  &:hover{ 
    background-color: var(--surface-color-hover)!important;
  }
}

.menu__icon {
  color: var(--primary-text-color);
  font-size: medium!important;
  width: 24px!important;
  height: 24px!important;
}

.menu__text * {
  font-size: 16px!important;
  color: var(--primary-text-color);
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.modal__text {
  padding: 8px 0;
  color: var(--primary-text-color)!important;
}

.modal__btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.MuiDialog-paper {
  background: var(--surface-color)!important;
  color: var(--primary-text-color)!important;
}

.cancel-btn {
  color: var(--primary-color)!important;
  
  &:hover {
    background-color: var(--primary-color-light)!important;
  }
}

.logout-btn {
  color: var(--danger-color)!important;

  &:hover {
    background-color: var(--danger-color-light)!important;
  }
}